<table class="table table-striped">
   <caption>
      <div class="row" data-ng-show="serverError !== ''">
          <div class="col-xs-12">
              <div class="alert alert-danger">
                  <strong>Hiba: </strong> {{ serverError }}
              </div>
          </div>
      </div>
       <div class="row">
           <div class="col-xs-3 col-xs-offset-9">
               <input type="text" class="form-control" data-ng-model="search.name">
           </div>
       </div>
   </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>position</th>
            <th>birthdate</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="player in players | filter:search track by $index">
            <td>{{ player.id }}</td>
            <td>
                <input type="text" data-ng-model="player.name">
            </td>
            <td>
                <input type="text" data-ng-model="player.position">
            </td>
            <td>
                <input type="text" data-ng-model="player['date of birth']">
            </td>
            <td>
                <a
                    class="btn btn-info"
                    data-ng-href="{{ '#players/'+player.id }}">
                        edit
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="6">
                összesen: <span data-ng-bind="players.length"></span> sor
            </th>
        </tr>
    </tfoot>
</table>
